<div class="m-4 container">
    <h3>Đăng khóa học</h3>
    <form method="post" action="/courses/store">
    <div class="mb-3">
            <div class="form-text">name</div>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <div class="form-text">Course Description</div>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3">
            <div class="form-text">videoID</div>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>
        <div class="mb-3">
            <div class="form-text">Level</div>
            <input type="text" class="form-control" id="level" name="level">
        </div>

        <button type="submit" class="btn btn-primary">Create Course</button>
    </form>
</div>